 {% extends "templates/web.html" %}
 {% block title %}{{ _("Make Payment") }}{% endblock %}


{% block page_content %}
<div id="app">
    <div class="container" :style="showDiv ? 'display:block' : 'display:none'">
        <div class="row">
                <button class="btn btn-primary" id="paymentBTN" @submit.prevent="">Pay</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/frappe_paystack/js/vue.global.js"></script>
<script src="/assets/frappe_paystack/js/sweetalert2@11.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="/paystack_checkout/index.js"></script>
{% endblock %}
